/* Dekstop */
@media screen and (min-width: 768px) {
  .hoveredButton {
    /* opacity: 0.7; */
    box-shadow: 2px 2px 2px #888888;
  }
  .hoveredButton:hover {
    /* opacity: 0.7; */
    box-shadow: 1px 1px 1px #888888;
    box-shadow: none;
  }
}
/* End of Dekstop */
